<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/colors.css">
    <link rel="stylesheet" href="~/css/navigation.css">
    <link rel="stylesheet" href="~/css/details.css">
    <link rel="stylesheet" href="~/css/utilities.css">
    <link rel="stylesheet" href="~/css/gallery-view.css">
    @RenderSection("styles", false)
    
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://kit.fontawesome.com/55174c58a9.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"]</title>
   
</head>
<body>
    <header>
        <nav class="navbar">
        <h1 class="logo"><span class="text-primary">Flowers REMEMBER</span></h1>
        <ul>
                <li><a asp-action="Index" asp-controller="Home">Start</a></li>
                <li><a asp-action="Index" asp-controller="Flowers">Flowers</a></li>
                <li><a asp-action="Index" asp-controller="Family">Families</a></li>
                <li><a asp-action="Create" asp-controller="Flowers"> Add Flower</a></li>
                <li><a asp-action="Create" asp-controller="Family"> Add Family</a></li>
                
            </ul>
        </nav>
    </header>
    
   
        <main>
            @RenderBody()
        </main>
   
</body>
<footer><h3>Tack för titten - Det var ett nöje - Gör mig glad - Köp mig blommor</h3> </footer>
</html>
