@model flowers.web.ViewModel.Families.FamilyDetailView
<section>
    <h1>ONE FAMILY</h1>
    <div>
       
        <div>
 
            <div><span>@Model.Name</span>&nbsp;<span>@Model.Id</span></div>
            <div></div>
        </div>
        
    </div>

</section>