@model flowers.web.ViewModel.Families.FamilyDetailView
<section class="page">
    <h1>ONE FAMILY</h1>
    <div>
       
        <div>
 
            <div>Nr: <span>@Model.Id</span>&nbsp;</div>
            <div>Name: <span>@Model.Name</span></div>
        </div>
        
    </div>

</section>