@model IList<flowers.web.ViewModel.Families.FamilyListView>
<section class="list">
    <h1>ALL FAMILIES</h1>
    <div>
        @foreach (var family in Model)
        {
            <div>                
                <div><span>@family.Id</span>&nbsp;<span>@family.Name</span></div>
                <div>@family.Name</div>
            </div>
        }
    </div>

</section>

