:root {
    --primary-color: #FF33F9;
    --secondary-color: #be1df9;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --primary-text-color: #1b8285;
    --primary-background-color: #bfbdbd;
    --primary-border-color: #1ABC9C;
    --warning-color: #ee9504;
    --error-color: #a50404;
  }
  